@import url('https://fonts.googleapis.com/css?family=Dosis|Orbitron');

body {
    margin: auto;
    background: rgb(0, 0, 0);
}

header {
 color: black;
 background: white;
 margin-top: 20px;
 margin-left: 15%;
 margin-right: 15%;
 margin-bottom: 0;
 border-radius: 50px 50px 0 0; 
 }

.header {
    text-align: center;
    /*padding-top: 20px;*/
    /*padding-bottom: 20px;*/
    margin-bottom: 0;
}

h1 {
    font-family: Orbitron;
    color: white;
    text-shadow: 0 0 20px rgb(68, 58, 58), 0 0 5px rgb(136, 0, 0);
    font-size: 4vw;
}

h2 {
    font-family: Dosis;
    color: white;
    text-shadow: 0 0 20px rgb(68, 58, 58), 0 0 5px rgb(136, 0, 0);
    font-size: 3vw;
}
.home {
    background: white;
    margin-top: 0px;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 40px;
    padding-top: 20px;
    font-size: 1.3em;
    text-align: justify;
}

.home h3 {
    font-family: Orbitron;
    border-bottom: solid black;
}



.intro {
    margin-right: 10px;
    margin-left: 10px;
}


.navbar {
    background-color: rgb(98, 120, 243);
    font-family: Dosis;   
}

ul {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 40px;
    padding-right: 40px;
    overflow: hidden;
    background-color: rgb(3, 33, 204);
    text-align: center;
    list-style-type: none;
}

li a {
    display: flex;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
}

li a:hover {
    background-color:rgb(180, 160, 253);
}

/* Folders in Resume */

.homeres {
    background: white;
    margin-top: 0px;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 40px;
    padding-top: 20px;
    font-size: 1.3em;
    text-align: justify;
}

.rescontainer {
    max-width: 600px;
    margin: 0 auto;

}
.tab{
    margin: 0 auto 0 0;
    background-color: rgb(241, 217, 107);
    color: black;
    border-radius: 25px 25px 0 0;
    width: auto;
    font-family: Dosis;
    max-width: 300px;
    text-align: center;
}

.rescontainer p {
    margin: 0;
}

.folder1 {
    margin: 0 auto;
    background-color: rgb(241, 217, 107);
    color: black;
    font-family: Dosis;
    
}

/* slideshow */

.slideshow {
 padding: .5vw;
 font-size: 0;
 display: -ms-flexbox;
 -ms-flex-wrap: wrap;
 -ms-flex-direction: column;
 -webkit-flex-flow: row wrap; 
 flex-flow: row wrap; 
 display: -webkit-box;
 display: flex;
 justify-content: space-evenly;
}
.slideshow div img { 
    width: 300px; 
    height: auto; 
  }

.slideshow img {
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
}


/* Style the Image Used to Trigger the Modal */
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption { 
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 35px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

/* end slideshow */

@media (min-width: 769px) {

.tophome {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 15%;
    padding-right: 15%;
    }

ul {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 40px;
    padding-right: 40px;
    overflow: hidden;
    background-color: rgb(3, 33, 204);
    text-align: center;
    list-style-type: none;
}

li a {
    font-size: 1.4vw;
}

}

/* .home {
    padding-left: 20%;
    padding-right: 20%;
} */

.home p::first-letter {
    font-size: 4em;
    float: left;
    background: black;
    color: white;
    padding: 10px;
    margin-right: 5px;
   margin-bottom: 5px;
   font-weight: bold;
   border-radius: 10px;
    
}

/* video css*/

  .video-container {
    position: relative;
    opacity: 50%;
  }
  video {
    height: auto;
    vertical-align: middle;
    width: 100%;
    opacity: 0.6;
    border-radius: 50px 50px 0 0; 
  }
  .overlay-desc {
    background: rgba(0,0,0,0);
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
 
  /* footer*/

  #sticky {
    
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
    height:auto;
    
    background:rgb(3, 33, 204);
    color:white;
    font-weight:normal;
    font-size:24px;
    text-align:center;
    position:fixed;    /*Here's what sticks it*/
    bottom:0;          /*to the bottom of the window*/
    left:0;            /*and to the left of the window.*/
  }
  .emailfoot {
    text-decoration: none;
    color: white;
    font-family: Orbitron;
    font-size: 1.4vw;
    padding-left: 10px;
    padding-top: 40px;
  }
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

#socialm {
    padding-top: 5px;
    padding-right: 10px;
    text-decoration: none;
}

#socialm img {
    height: 30px;
    text-decoration: none;
}

.no_underline {
    text-decoration: none;
}
